# ============================
# Dados
# ============================

data/raw/

# ============================
# Ambiente Virtual
# ============================

.venv/

# ============================
# Python
# ============================

__pycache__/
*.pyc
*.pyo

# ============================
# Jupyter
# ============================

.ipynb_checkpoints/

# ============================
# VS Code
# ============================

.vscode/

# ============================
# Logs
# ============================

*.log